<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018894742415-32bp7obc68dqqduq8drdcmdne58sk25f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018894742415-32bp7obc68dqqduq8drdcmdne58sk25f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018894742415-d6rdv3v4k33qrbf27l5koptu33jn3jfd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdUnhWrn1lpR9EC6GlNonBt0loIVKjxBc</string>
	<key>GCM_SENDER_ID</key>
	<string>1018894742415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.belajarbarengAppMmp</string>
	<key>PROJECT_ID</key>
	<string>belajarbarengflutterproject</string>
	<key>STORAGE_BUCKET</key>
	<string>belajarbarengflutterproject.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018894742415:ios:806bdfd732f994be9c51fa</string>
	<key>DATABASE_URL</key>
	<string>https://belajarbarengflutterproject-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>